<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.pagination {
  display: inline-block;
}

.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
 }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

<h2>Patient Details<input type='search' id="search_id" placeholder="Search patient"/><button style="float: right;padding: 5px;"><a href="/bulk_upload/">Bulk Upload</a></button>
    <button style="float: right;padding: 5px;"><a href="/bulk_upload_list/">Bulk Upload List</a></h2>

<div id="page_content">
  {% include "patient_detail_table.html" %}
</div>
<script>
  $("#search_id").keydown(function (e) {
    if (e.keyCode == 13) {
      patient_load(1)
    }
  });

  function patient_load(page_number){
    $.ajax({
            data :{"page":page_number,'search_key':$("#search_id").val()},
            success: function(result) {
                $("#page_content").html(result['page_content'])
            }
    });
  }
</script>
</html>
